<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
</head>
<body>
<div id="hello-world">
    <fieldset>
        <legend>Template</legend>
        <div v-html="htmlContent"></div>
        <p>Primeiro nome: {{firstName}}</p>
        <p>Último nome: {{lastName}}</p>
        <p>Idade: {{age}}</p>
        <p>{{age >= 18 ? 'Maior de idade.' : 'Menor de idade.'}}</p>
    </fieldset>

    <fieldset>
        <legend>Methods</legend>
        <button v-on:click="incrementAge">Incrementar idade</button>
        <button @click="decrementAge">Decrementar idade</button>
    </fieldset>

    <fieldset>
        <legend>Computed properties</legend>
        <p>Nome completo: {{fullName}}</p>
    </fieldset>

    <fieldset>
        <legend>Watchers</legend>
        <label for="input-adress">Endereço:</label>
        <input id="input-adress" type="text" v-model="adress">
    </fieldset>

    <fieldset>
        <legend>v-if</legend>
        <label for="input-grade">Nota:</label>
        <input id="input-grade" type="text" v-model="grade">
        <p v-if="grade < 60" >Reprovado</p>
        <p v-else-if="grade >= 60 && grade < 98">Aprovado</p>
        <p v-else-if="grade >= 98">Aprovado com excelencia</p>
        <p v-else=>Valor inválido</p>
    </fieldset>

    <fieldset>
        <legend>v-show</legend>
        <button v-show="!isUserLogged" @click="isUserLogged = !isUserLogged">Login</button>
        <button v-show="isUserLogged" @click="isUserLogged = !isUserLogged">Logout</button>
    </fieldset>

    <fieldset>
        <legend>v-text</legend>
        <p>{{firstName}}</p>
        <p v-text="firstName"></p>
    </fieldset>

    <fieldset>
        <legend>v-html</legend>
        <div v-html="htmlContent"></div>
    </fieldset>

    <fieldset>
        <legend>v-once</legend>
        <div v-html="htmlContent"></div>
        <p v-once>{{count}}</p>
        <p>{{count}}</p>
        <button @click="count++">Adicionar</button>
    </fieldset>

    <fieldset>
        <legend>v-for</legend>
        <h4>Marcas</h4>
        <ul>
            <li v-for="brand in carBrands">{{brand}}</li>
        </ul>
        <h4>Carros</h4>
        <ul>
            <li v-for="car in cars">{{car.name}} {{car.brand}}</li>
        </ul>
    </fieldset>

</div>

    <script src="https://unpkg.com/vue@3.0.4"></script>
    <script>
        const app = {
            data() {
                return{
                    htmlContent: "<h3>Hello world Vue.JS</h3>",
                    firstName: "Samuel",
                    lastName: "Chagas",
                    age: 33,
                    adress: "",
                    grade:5,
                    isUserLogged: false,
                    count: 1,
                    carBrands: ["VW", "Honda", "Fiat", "GM", "Ford"],
                    cars: [{name: "Gol", brand: "VW", year: 2011, km: 94000},
                            {name: "Honda", brand: "Civic"},
                            {name: "Sandero", brand: "Renault"}]
                }
            },
            methods: {
                incrementAge() {
                    this.age++;
                },
                decrementAge(){
                    if(this.age > 0){
                        this.age--;
                    }
                },
            },
            computed: {
                    fullName: function() {
                        return `${this.firstName} ${this.lastName}`;
                        console.log(fullName)
                    }
                },
            watch: {
                adress: function(newValue, oldValue) {
                    
                }
            }    
        }

        Vue.createApp(app).mount("#hello-world")
    </script>
</body>
</html>